body {
    margin: 0;
    padding: 0;

    min-width: 1200px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: #283136;
    background: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1160px;
}

.btn {
    display: inline-block;

    padding: 16px 55px;

    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #fb565a;

    border-radius: 2px;
    border: none;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    background-color: #d7373b;
    border-top: 3px solid #c13135;
    padding-top: 13px;
}

.main-header {
    min-height: 545px;

    background: #eeeeee;
}

.main-header.inner-page {
    min-height: 355px;
}

.main-logo {
    margin-right: 200px;

    width: 160px;
    height: 65px;
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;

    align-items: center;

    padding-top: 50px;
    padding-bottom: 17px;
}

.menu-main {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    width: 440px;
}

.menu-item {
    margin-right: 47px;
}

.menu-item:last-child {
    margin-right: 0;
}

.header-cart {
    position: relative;

    margin-left: auto;

    width: 105px;

    text-align: right;
}

.header-cart::before {
    content: "";

    position: absolute;

    top: 6px;
    left: 0px;

    width: 15px;
    height: 15px;

    background: url("../img/cart-icon.png") center no-repeat;
}

.menu-item a,
.header-cart {
    color: #000000;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.menu-item a:hover,
.header-cart:hover {
    color: #fb565a;
}

.menu-item a:active,
.header-cart:active {
    color: #000000;
    opacity: 0.3;
}

.current-page {
    border-bottom: 2px solid #fb565a;
}

.slider-title {
    margin: 0;
    margin-bottom: 24px;

    width: 520px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;

    color: #000000;
}

.slider-description {
    margin: 0;
    width: 415px;
    margin-bottom: 42px;
}

.slider-2 {
    display: none;
}


.slider-3 {
    display: none;
}

.slider-1,
.slider-2,
.slider-3 {
    position: relative;
    margin-top: 64px;
}

.slider-1 .slider-wrapper,
.slider-2 .slider-wrapper,
.slider-3 .slider-wrapper {
    position: absolute;

    top: 0;
    left: 20px;

    z-index: 1;
}

.slider-1 img {
    display: block;

    width: 698px;
    height: 412px;

    margin-left: auto;
}

.slider-2 img {
    display: block;

    width: 663px;
    height: 430px;

    margin-left: auto;
}

.slider-3 img {
    display: block;

    width: 759px;
    height: 411px;

    margin-left: auto;
}

.services-list {
    display: flex;
    margin: 0;
    padding: 80px 0;

    list-style: none;

    border-bottom: 2px solid #eeeeee;
}

.service-item {
    margin: 0;

    margin-right: 100px;
    width: 300px;
}

.service-logo {
    margin: 0;
}

.service-item img {
    display: block;

    margin-bottom: 28px;

    width: 300px;
    height: 146px;
}

.service-title {
    margin: 0;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;

    color: #000000;

    text-transform: uppercase;
}

.service-description {
    margin: 0;
    margin-bottom: 34px;
}

.services-list .order-button {
    padding: 16px 40px;
}


.services-list .order-button:hover {
    background-color: #e74246;
}

.services-list .order-button:active {
    background-color: #d7373b;
    border-top: 3px solid #c13135;
    padding-top: 13px;
}

.service-item:nth-of-type(2) .order-button {
    background-color: #00ca74;
}

.service-item:nth-of-type(2) .order-button:hover {
    background-color: #00bc6c;
}

.service-item:nth-of-type(2) .order-button:active {
    background-color: #00aa62;
    border-top: 3px solid #009958;
    padding-top: 13px;
}

.service-item:last-of-type .order-button {
    background-color: #efc84a;
}

.service-item:last-of-type .order-button:hover {
    background-color: #eab534;
}

.service-item:last-of-type .order-button:active {
    background-color: #e5a722;
    border-top: 3px solid #ce961f;
    padding-top: 13px;
}

.introduce {
    display: flex;

    margin: 0;

    border-bottom: 2px solid #eeeeee;
}

.features {
    width: 360px;
}

.about-us {
    width: 660px;
}

.about-us-title {
    margin: 0;
    padding-top: 73px;
    padding-bottom: 32px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-us-description {
    margin: 0;
    padding-bottom: 40px;

}

.jobs-title {
    margin: 0;
    padding-bottom: 26px;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    text-transform: uppercase;
    color: #000000;
}

.jobs-list {
    margin: 0;
    padding: 0;
    padding-bottom: 72px;

    list-style: none;
}

.jobs-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 27px;
}

.jobs-item::before {
    content: "";

    position: absolute;

    top: 11px;
    left: 1px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.features {
    margin-left: auto;
}

.features img {
    display: block;
    width: 360px;
    height: 208px;
    padding-top: 40px;
    padding-bottom: 34px;
}

.features-title {
    margin: 0;
    padding-bottom: 58px;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.features-table {
    margin: 0;
    padding: 0;

    width: 360px;

    border-collapse: collapse;
}

.percent-row {
    font-size: 45px;
    font-weight: bold;

    color: #000000;
}

.percent-row sup {
    top: -9px;
}

.description-row {
    font-size: 16px;
    line-height: 18px;
}

.features-table td {
    padding-bottom: 30px;
    width: 100px;
}

.partners {
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 45px 0;

    list-style: none;
}

.partner-item {
    width: 260px;

    margin-right: 40px;

    opacity: 0.2;
}

.partner-item:last-child {
    margin-right: 0px;

}

.partner-item img {
    display: block;

    margin: 0 auto;
}

.partner-item:hover {
    opacity: 1;
}

.partner-item:active {
    opacity: 0.1;
}

.footer-main {
    padding-top: 80px;
}

.footer-main.inner-page {
    padding-top: 60px;
}

.footer-contact-map {
    position: relative;

    margin-bottom: 69px;

    height: 416px;
}

.footer-contact-map iframe {
    width: 100%;
    height: 100%;
}

.footer-contact-address {
    position: absolute;

    top: 26px;
    left: 140px;

    box-sizing: border-box;

    margin: 0;
    padding: 47px 50px;

    width: 320px;
    height: 308px;

    background-color: #ffffff;
}

.footer-contact-address h3 {
    margin: 0;
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 30px;

    color: #000000;
}

.footer-contact-address p {
    margin: 0;

    font-size: 16px;
    line-height: 18px;

    color: #666666;
}

.footer-contact-address p:first-of-type {
    margin-bottom: 20px;
}

.footer-contact-address p:last-of-type {
    margin-bottom: 37px;
}

.modal-button {
    padding: 16px 45px;
}

.footer-social {
    display: flex;
}

.social-list {
    margin: 0;
    margin-right: 139px;
    padding: 0;
    padding-bottom: 69px;

    list-style: none;
}

.social-item {
    position: relative;

    display: inline-block;

    margin-right: 10px;

    width: 80px;
    height: 80px;

    background-color: #e1e1e1;

    border-radius: 50%;
}

.social-insta {
    margin-right: 0px;
}

.social-item::before {
    content: "";

    position: absolute;
}

.social-vk::before {
    width: 26px;
    height: 15px;

    top: 33px;
    left: 27px;

    background-image: url("../img/icon-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-fb::before {
    width: 12px;
    height: 22px;

    top: 28px;
    left: 33px;

    background-image: url("../img/icon-fb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-insta::before {
    width: 21px;
    height: 21px;

    top: 30px;
    left: 29px;

    background-image: url("../img/icon-insta.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-item:hover {
    background-color: #e74246;
}

.social-item:active {
    height: 77px;
    background-color: #d7373b;
    border-top: 3px solid #c13135;
}

.social-item:active::before {
    opacity: 0.3;
}

.social-vk:active::before {
    top: 30px;
}

.social-fb:active::before {
    top: 25px;
}

.social-insta:active::before {
    top: 27px;
}

.discount-info {
    width: 560px;
}

.discount-info b {
    display: block;

    margin: 0;
    padding: 10px 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;

    color: #000000;
}

.discount-info p {
    margin: 0;

    font-size: 16px;
    line-height: 22px;
}

.modal {
    position: relative;

    box-sizing: border-box;

    padding: 67px 100px 84px 100px;

    width: 960px;
    height: 590px;

    background-color: #ffffff;

    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-title {
    margin: 0;
    padding-bottom: 43px;

    font-size: 45px;
    line-height: 45px;

    font-weight: 500;

    color: #000000;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
}

.modal-item {
    margin: 0;
    padding-bottom: 11px;
}

.modal-item:first-child {
    padding-right: 40px;
}

.modal-item:last-of-type {
    padding-bottom: 47px;
}

.modal-item label {
    display: block;

    margin: 0;
    padding-bottom: 11px;

    font-weight: bold;

    color: #000000;
}

.modal-item input {
    box-sizing: border-box;

    width: 360px;

    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.modal-item input[type="text"] {
    font: inherit;
    color: inherit;
    padding: 17px 14px;
    color: rgba(68, 68, 68, 0.5);
}

.modal-item textarea {
    font: inherit;
    color: inherit;

    margin: 0;
    padding: 0;
    padding: 14px 14px;


    box-sizing: border-box;

    width: 760px;
    height: 118px;
    resize: none;

    color: rgba(68, 68, 68, 0.5);
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.modal-item input[type="text"]:hover,
.modal-item textarea:hover {
    border-color: #b4b9bb;
}

.modal-item input[type="text"]:focus,
.modal-item textarea:focus {
    color: rgba(68, 68, 68, 1);
    border-color: #000000;
}

.form-button {
    padding: 19px 83px;
}

.form-button:active {
    background-color: #d7373b;
    border-top: 3px solid #c13135;
    padding-top: 16px;
}

.close-modal-button {
    position: absolute;

    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    background-image: url("../img/close-cross.png");
    background-repeat: no-repeat;
    background-position: center;

    background-color: #fff;

    border: none;

    opacity: 0.3;
}

.close-modal-button:hover {
    opacity: 1;
}

.close-modal-button:active {
    opacity: 0.1;
}

.catalog-page-title {
    margin: 0;
    padding-top: 77px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;

    text-align: center;

    color: #000000;
}

.filter-content-wrapper {
    display: flex;
    margin: 0;
}

.filter {
    width: 260px;

}

.filter-form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-title {
    margin: 0;


    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;

    color: #000000;
}

.filter-price-title {
    padding-top: 57px;
    padding-bottom: 50px;
}



.filter-range {
    box-sizing: border-box;

    margin-bottom: 14px;

    width: 260px;
    height: 80px;

    background-color: #eeeeee;
    border: 1px solid transparent;
    border-radius: 2px;
}

.progress-line {
    position: relative;

    margin: auto;
    margin-top: 37px;

    width: 219px;
    height: 2px;

    background-image: linear-gradient(to right, #00ca74 69%, #d7dcde 31%);
}

.progress-line::before {
    content: "";

    position: absolute;

    box-sizing: border-box;

    width: 20px;
    height: 20px;

    top: -9px;
    left: -5px;

    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px #cccdcd;
}

.progress-line::after {
    content: "";

    position: absolute;

    box-sizing: border-box;

    width: 20px;
    height: 20px;

    top: -9px;
    left: 140px;

    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px #cccdcd;
}

.filter-price {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    margin-bottom: 56px;

    list-style: none;
}

.filter-price label {
    display: inline-block;
    line-height: 22px;
    padding-right: 11px;
    text-transform: uppercase;
}

.filter-price input {
    padding: 9px 0;

    width: 80px;

    text-align: center;
    background-color: #eeeeee;

    border: none;
    border-radius: 2px;
}

.modal-item input[type="text"] {
    font: inherit;
    color: inherit;
}

.filter-grid-title {
    padding-bottom: 15px;
}

.filter-grid {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;

    list-style: none;
}

.filter-grid .filter-option {
    padding-bottom: 15px;
}

.filter-grid .filter-option:last-child {
    padding-bottom: 0;
}

.filter-grid label {
    position: relative;

    padding-left: 36px;

    line-height: 20px;

    cursor: pointer;
    user-select: none;
}

.filter-grid label:hover {
    color: #000000;
}

.filter-input-radio:disabled+label {
    color: rgb(0, 0, 0, 0.3);
}

.filter-modules label:hover {
    color: #000000;
}

.filter-input-checkbox:disabled+label {
    color: rgb(0, 0, 0, 0.3);
}

.filter-input-radio+label::before {
    content: "";

    box-sizing: border-box;

    position: absolute;

    top: -1px;
    left: 0px;

    width: 25px;
    height: 25px;

    border: 4px solid rgb(0, 0, 0, 0.4);
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";

    position: absolute;

    top: 7px;
    left: 8px;

    width: 9px;
    height: 9px;

    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
}

.filter-input-radio+label:hover::before {
    border: 4px solid #000000;
}

.filter-input-radio:checked+label:hover::after {
    background-color: #000000;
}

.filter-input-radio:disabled+label::before {
    border: 4px solid rgb(0, 0, 0, 0.1);
}

.filter-input-radio:checked:disabled+label::after {
    background-color: rgb(0, 0, 0, 0.1);
}

.filter-modules-title {
    padding-bottom: 15px;
}

.filter-modules {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;

    list-style: none;
}

.filter-modules .filter-option {
    padding-bottom: 17px;
}

.filter-modules .filter-option:last-child {
    padding-bottom: 0;
}

.filter-modules label {
    position: relative;

    padding-left: 37px;

    line-height: 20px;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";

    position: absolute;

    top: -2px;
    left: 1px;

    width: 23px;
    height: 23px;

    background: url("../img/checkbox-off.svg") center no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
    background: none;
}

.filter-input-checkbox:checked+label::after {
    content: "";

    position: absolute;

    top: -2px;
    left: 1px;

    width: 27px;
    height: 23px;

    background: url("../img/checkbox-on.svg") center no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox+label:hover::before {
    opacity: 1;
}

.filter-input-checkbox:checked+label:hover::after {
    opacity: 1;
}

.filter-input-checkbox:disabled+label::before {
    opacity: 0.1;
}

.filter-input-checkbox:checked:disabled+label::after {
    opacity: 0.1;
}

.filter-button {
    padding: 18px 89px;

    background-color: #eeeeee;
    color: #000000;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
    padding-top: 15px;
}

.template-sort {
    display: flex;
    align-items: center;
}

.template-sort-title {
    display: inline-block;
    margin: 0;
    margin-right: 267px;
    padding-top: 57px;
    padding-bottom: 50px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;

    color: #000000;
}

.template-sort-list {
    margin: 0;
    padding: 0;

    width: 300px;

    list-style: none;
}

.template-sort-item {
    display: inline-block;

    padding-right: 26px;

    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}

.template-sort-item:last-child {
    padding-right: 0;
}

.template-sort-item a {
    display: block;
    padding-top: 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.3);
}

.template-sort-item a:hover {
    color: rgb(0, 0, 0, 0.6);
}

.template-sort-item a:active,
.template-sort-item.active a {
    color: rgb(0, 0, 0, 1);
}

.template-sort-up-down {
    width: 60px;
    text-align: right;
}

.template-sort-up-down .sort-down {
    margin-right: 18px;
    padding: 3px;

    width: 11px;
    height: 10px;

    background: url("../img/icon-up-down.svg") center no-repeat;
    transform: rotate(180deg);
    border: none;
    opacity: 0.2;
}

.template-sort-up-down .sort-up {
    display: inline-block;
    padding: 3px;

    width: 11px;
    height: 10px;

    background: url("../img/icon-up-down.svg") center no-repeat;
    border: none;
    opacity: 0.2;
}

.template-sort-up-down .sort-down:hover,
.template-sort-up-down .sort-up:hover {
    opacity: 0.4;
}

.template-sort-up-down .sort-down:active,
.template-sort-up-down .sort-up:active,
.sort-down.active,
.sort-up.active {
    opacity: 1;
}

.sort-down.active:hover,
.sort-up.active:hover {
    opacity: 1;
}

.templates {
    margin-left: 140px;
}

.templates-card-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    width: 760px;

    list-style: none;
}

.template-card {
    position: relative;

    box-sizing: border-box;

    margin-bottom: 33px;

    width: 360px;
}

.template-card:hover {
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.template-card:nth-child(2n + 1) {
    margin-right: 40px;
}

.template-card-browser {
    width: 360px;

    background-color: #e9e9e9;

    border-radius: 2px 2px 0 0;
}

.template-card:hover .template-card-browser {
    background-color: #4d4d4d;
}

.template-card:hover .template-card-description {
    display: block;
}

.template-card-browser ul {
    margin: 0;
    padding: 0;
    padding: 16px 0;

    list-style: none;
}

.decorate-circle {
    display: inline-block;

    margin-left: 9px;
    width: 14px;
    height: 14px;

    background-color: #fff;
    border-radius: 50%;
}

.decorate-circle:first-child {
    margin-left: 16px;
}

.template-card .card-item img {
    box-sizing: border-box;

    width: 360px;
    height: 576px;

    border: 1px solid #e5e5e5;
}

.template-card-description {
    position: absolute;

    top: 385px;
    left: 0px;

    width: 360px;

    background-color: #eeeeee;
    display: none;
}

.template-card-description h3 {
    margin: 0;
    padding-top: 29px;

    font-size: 18px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.template-card-description p {
    display: block;

    margin: 0 auto;
    padding: 29px 0;

    width: 240px;
    text-align: center;

    font-size: 16px;
    line-height: 18px;



    color: #000;
}

.price-button {
    margin-left: 80px;
    margin-bottom: 43px;

    padding: 16px 61px;
}

.pagination-list {
    margin: 0;
    margin-top: 27px;
    padding: 0;

    list-style: none;
}

.pagination-list li {
    display: inline-block;
}

.pagination-item {
    margin-right: 9px;
    padding: 16px 21px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #eeeeee;
    color: #000;
}

.pagination-button {
    margin-right: 0;

    padding: 16px 78px;
}

.pagination-item:hover {
    background-color: #a6a6a6;
}

.pagination-item:active {
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
    padding-top: 13px;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:active {
    padding: 13px 18px;
    background-color: #fff;
    border: 3px solid #dbdbdb;
}