body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #283136;

    background: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    padding: 16px 55px;

    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #fb565a;

    border-radius: 2px;
    border: none;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    padding-top: 13px;

    background-color: #d7373b;
    border-top: 3px solid #c13135;
}

.main-header {
    position: relative;

    min-height: 545px;

    background: #eeeeee;
}

.main-header.inner-page {
    min-height: 355px;
}

.main-logo {
    width: 160px;
    height: 65px;
    margin-right: 200px;
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-top: 50px;
}

.menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    margin: 0;
    padding: 0;
    padding-top: 13px;

    list-style: none;
}

.menu-item {
    margin-right: 47px;
}

.menu-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

.header-cart {
    position: relative;

    width: 113px;

    text-align: right;   
}

.header-cart::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0px;

    width: 15px;
    height: 15px;

    background: url("../img/cart-icon.png") center no-repeat;
}

.menu-item a {
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-item a:hover {
    color: #fb565a;
}

.menu-item a:active {
    color: #000000;

    opacity: 0.3;
}

.menu-item.current-page a {
    padding-bottom: 10px;

    border-bottom: 2px solid #fb565a;
}

.slider-control {
    position: absolute;
    bottom: 95px;
    left: 50%;
    z-index: 1;
    
    width: 88px;
    margin-left: -44px;  
}

.slider-control ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-circle {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;

    vertical-align: middle;

    background-color: #fff;
    border-radius: 50%;

    cursor: pointer;
}

.slider-circle.active::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8px;
    height: 8px;

    background-color: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 50%;

    cursor: pointer;
}

.slider-circle:last-child {
    margin-right: 0;
}

.slider-title {
    width: 520px;
    margin: 0;
    margin-top: 78px;
    margin-bottom: 24px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-description {
    width: 415px;
    margin: 0; 
    margin-bottom: 41px;
}

.slider-1,
.slider-2,
.slider-3 {
    display: none;
}

.slider-1.active,
.slider-2.active,
.slider-3.active {
    display: block;
}

.slider-1,
.slider-2,
.slider-3 {
    position: relative;
}

.slider-1 .slider-wrapper,
.slider-2 .slider-wrapper,
.slider-3 .slider-wrapper {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}

.slider-1 img {
    display: block;
    width: 698px;
    height: 413px;
    margin-left: 430px;
    padding-top: 17px;
}

.slider-2 img {
    display: block;
    width: 663px;
    height: 430px;
    margin-left: auto;
}

.slider-3 img {
    display: block;
    width: 759px;
    height: 411px;
    padding-top: 17px;
    margin-left: auto;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 80px 0;

    list-style: none;

    border-bottom: 2px solid #eeeeee;
}

.service-item {
    width: 300px;
    margin: 0;
    margin-right: 100px;  
}

.service-logo {
    margin: 0;
}

.service-item img {
    display: block;
    width: 300px;
    height: 146px;
    padding-bottom: 26px;  
}

.service-title {
    margin: 0;
    padding-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.service-description {
    width: 250px;
    margin: 0;
    padding-bottom: 31px; 
}

.services-list .order-button {
    padding: 16px 40px;
}


.services-list .order-button:hover {
    background-color: #e74246;
}

.services-list .order-button:active {
    padding-top: 13px;

    background-color: #d7373b;
    border-top: 3px solid #c13135; 
}

.service-item:nth-of-type(2) .order-button {
    background-color: #00ca74;
}

.service-item:nth-of-type(2) .order-button:hover {
    background-color: #00bc6c;
}

.service-item:nth-of-type(2) .order-button:active {
    padding-top: 13px;

    background-color: #00aa62;
    border-top: 3px solid #009958; 
}

.service-item:last-of-type .order-button {
    background-color: #efc84a;
}

.service-item:last-of-type .order-button:hover {
    background-color: #eab534;
}

.service-item:last-of-type .order-button:active {
    padding-top: 13px;
    
    background-color: #e5a722;
    border-top: 3px solid #ce961f;
    
}

.introduce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;

    border-bottom: 2px solid #eeeeee;
}

.features {
    width: 360px;
}

.about-us {
    width: 660px;
}

.about-us-title {
    display: block;
    margin: 0;
    padding-top: 73px;
    padding-bottom: 32px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-us-description {
    margin: 0;
    padding-bottom: 40px;

}

.jobs-title {
    margin: 0;
    padding-bottom: 26px;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    text-transform: uppercase;
    color: #000000;
}

.jobs-list {
    margin: 0;
    padding: 0;
    padding-bottom: 48px;

    list-style: none;
}

.jobs-item {
    position: relative;

    padding-left: 37px;
    padding-bottom: 24px;
}

.jobs-item::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 1px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.features {
    margin-left: auto;
}

.features img {
    display: block;
    width: 360px;
    height: 208px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.features-title {
    margin: 0;
    padding-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-transform: uppercase; 
}

.features-table {
    width: 360px;
    margin: 0;
    padding: 0;

    border-collapse: collapse;
}

.percent-row {
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

.percent-row sup {
    top: -14px;

    font-size: 28px;
}

.description-row {
    font-size: 16px;
    line-height: 18px;
}

.features-table td {
    width: 100px;
    padding-bottom: 30px; 
}

.partners {
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 45px 0;

    list-style: none;
}

.partner-item {
    width: 260px;
    margin-right: 40px;

    opacity: 0.2;
}

.partner-item:last-child {
    margin-right: 0px;

}

.partner-item img {
    display: block;
    margin: 0 auto;
}

.partner-item:hover {
    opacity: 1;
}

.partner-item img:active {
    opacity: 0.1;
}

.footer-main {
    padding-top: 80px;
}

.footer-main.inner-page {
    padding-top: 73px;
}

.footer-contact-map {
    position: relative;

    height: 416px;
    margin-bottom: 69px;  
}

.footer-contact-map iframe {
    width: 100%;
    height: 100%;

    border: none;
}

.footer-contact-address {
    position: absolute;
    top: 53px;
    left: 201px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    height: 308px;
    margin: 0;
    padding: 49px 53px 45px 47px;

    background-color: #ffffff;
}

.footer-contact-address h3 {
    margin: 0;
    padding-bottom: 25px;

    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.footer-contact-address p {
    margin: 0;

    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.footer-contact-address p:first-of-type {
    padding-bottom: 18px;
}

.footer-contact-address p:last-of-type {
    padding-bottom: 37px;
}

.modal-button {
    padding: 16px 45px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-list {
    margin: 0;
    margin-right: 139px;
    padding: 0;
    padding-bottom: 69px;

    list-style: none;
}

.social-list li {
    display: inline-block;
}

.social-item {
    position: relative;

    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 7px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-insta {
    margin-right: 0px;
}

.social-item::before {
    content: "";

    position: absolute;
}

.social-vk::before {
    top: 33px;
    left: 27px;

    width: 26px;
    height: 15px;

    background-image: url("../img/icon-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-fb::before {
    top: 28px;
    left: 33px;

    width: 12px;
    height: 22px;

    background-image: url("../img/icon-fb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-insta::before {
    top: 30px;
    left: 29px;

    width: 21px;
    height: 21px;

    background-image: url("../img/icon-insta.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-item:hover {
    background-color: #e74246;
}

.social-item:active {
    height: 77px;

    background-color: #d7373b;
    border-top: 3px solid #c13135;
}

.social-item:active::before {
    opacity: 0.3;
}

.social-vk:active::before {
    top: 30px;
}

.social-fb:active::before {
    top: 25px;
}

.social-insta:active::before {
    top: 27px;
}

.discount-info {
    width: 560px;
}

.discount-info b {
    display: block;
    margin: 0;
    padding: 8px 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.discount-info p {
    margin: 0;

    font-size: 16px;
    line-height: 22px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    width: 960px;
    height: 590px;
    margin-top: -295px;
    margin-left: -480px;
}

.modal-wrapper {
    position: relative;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 960px;
    height: 590px;
    padding: 67px 100px 84px 100px;

    background-color: #ffffff;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal--show {
    z-index: 1;

    display: block;

    -webkit-animation-name: modal-animation;
    animation-name: modal-animation;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.modal-title {
    margin: 0;
    padding-bottom: 43px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal-item {
    margin: 0;
    padding-bottom: 11px;
}

.modal-item:first-child {
    padding-right: 40px;
}

.modal-item:last-of-type {
    padding-bottom: 47px;
}

.modal-item label {
    display: block;
    margin: 0;
    padding-bottom: 11px;

    font-weight: bold;
    color: #000000;
}

.modal-item input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;

    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.modal-item input[type="text"] {
    padding: 17px 14px;

    font: inherit;
    color: inherit;
    color: rgba(68, 68, 68, 0.5);
}

.modal-item textarea {   
    width: 760px;
    height: 118px;
    margin: 0;
    padding: 0;
    padding: 14px 14px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    color: rgba(68, 68, 68, 0.5);

    border: 2px solid #d7dcde;
    border-radius: 2px;

    resize: none;
}

.modal-item input[type="text"]:hover,
.modal-item textarea:hover {
    border-color: #b4b9bb;
}

.modal-item input[type="text"]:focus,
.modal-item textarea:focus {
    color: rgba(68, 68, 68, 1);

    border-color: #000000;
}

.form-button {
    padding: 19px 83px;
}

.form-button:active {
    padding-top: 16px;

    background-color: #d7373b;
    border-top: 3px solid #c13135;
    
}

.close-modal-button {
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    background-color: #fff;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    opacity: 0.3;
}

.close-modal-button:hover {
    opacity: 1;
}

.close-modal-button:active {
    opacity: 0.1;
}

.catalog-page-title {
    margin: 0;
    padding-top: 77px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.filter-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.filter {
    width: 260px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-title {
    margin: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.filter-price-title {
    padding-top: 56px;
    padding-bottom: 47px;
}

.filter-range {
    width: 260px;
    height: 80px;
    margin-bottom: 15px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #eeeeee;
    border: 1px solid transparent;
    border-radius: 2px;
}

.progress-line {
    position: relative;

    width: 219px;
    height: 2px;
    margin: auto;
    margin-top: 37px;

    background-image: -webkit-gradient(linear, left top, right top, color-stop(69%, #00ca74), color-stop(31%, #d7dcde));
    background-image: -o-linear-gradient(left, #00ca74 69%, #d7dcde 31%);
    background-image: linear-gradient(to right, #00ca74 69%, #d7dcde 31%);
}

.progress-line::before {
    content: "";

    position: absolute;
    top: -9px;
    left: -2px;

    width: 20px;
    height: 20px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;

    -webkit-box-shadow: 0 2px 4px #cccdcd;
    box-shadow: 0 2px 4px #cccdcd;
}

.progress-line::after {
    content: "";

    position: absolute;
    top: -9px;
    left: 140px;

    width: 20px;
    height: 20px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;

    -webkit-box-shadow: 0 2px 4px #cccdcd;
    box-shadow: 0 2px 4px #cccdcd;
}

.progress-line:hover::before,
.progress-line:hover::after {
    cursor: pointer;
}

.filter-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 56px;

    list-style: none;
}

.filter-price label {
    display: inline-block;
    padding-right: 10px;
    
    line-height: 22px;
    text-transform: uppercase;
}

.filter-price input {
    width: 80px;
    padding: 9px 0;

    text-align: center;

    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

.modal-item input[type="text"] {
    font: inherit;
    color: inherit;
}

.filter-grid-title {
    padding-bottom: 13px;
}

.filter-grid {
    margin: 0;
    padding: 0;
    padding-bottom: 44px;

    list-style: none;
}

.filter-grid .filter-option {
    padding-bottom: 16px;
}

.filter-grid .filter-option:last-child {
    padding-bottom: 0;
}

.filter-grid label {
    position: relative;

    padding-left: 36px;

    line-height: 20px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-grid label:hover {
    color: #000000;
}

.filter-input-radio:disabled+label {
    color: rgba(0, 0, 0, 0.3);
}

.filter-modules label:hover {
    color: #000000;
}

.filter-input-checkbox:disabled+label {
    color: rgba(0, 0, 0, 0.3);
}

.filter-input-radio+label::before {
    content: "";

    position: absolute;

    top: -2px;
    left: 0px;

    width: 25px;
    height: 25px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 4px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;

    width: 9px;
    height: 9px;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.filter-input-radio+label:hover::before {
    border: 4px solid #000000;
}

.filter-input-radio:checked+label:hover::after {
    background-color: #000000;
}

.filter-input-radio:disabled+label::before {
    border: 4px solid rgba(0, 0, 0, 0.1);
}

.filter-input-radio:checked:disabled+label::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.filter-modules-title {
    padding-bottom: 14px;
}

.filter-modules {
    margin: 0;
    padding: 0;
    padding-bottom: 46px;

    list-style: none;
}

.filter-modules .filter-option {
    padding-bottom: 16px;
}

.filter-modules .filter-option:last-child {
    padding-bottom: 0;
}

.filter-modules label {
    position: relative;

    padding-left: 37px;

    line-height: 20px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 1px;

    width: 23px;
    height: 23px;

    background: url("../img/checkbox-off.svg") center no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
    background: none;
}

.filter-input-checkbox:checked+label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: 1px;

    width: 27px;
    height: 23px;

    background: url("../img/checkbox-on.svg") center no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox+label:hover::before {
    opacity: 1;
}

.filter-input-checkbox:checked+label:hover::after {
    opacity: 1;
}

.filter-input-checkbox:disabled+label::before {
    opacity: 0.1;
}

.filter-input-checkbox:checked:disabled+label::after {
    opacity: 0.1;
}

.filter-button {
    padding: 16px 89px;

    font-weight: bold;
    color: #000000;

    background-color: #eeeeee;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    padding-top: 15px;

    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;  
}

.template-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.template-sort-title {
    display: inline-block;
    margin: 0;
    margin-right: 267px;
    padding-top: 53px;
    padding-bottom: 50px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.template-sort-list {
    width: 300px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.template-sort-item {
    display: inline-block;
    margin-right: 21px;

    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}

.template-sort-item:last-child {
    padding-right: 0;
}

.template-sort-item a {
    display: block;

    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.template-sort-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.template-sort-item a:active,
.template-sort-item.active a {
    color: rgba(0, 0, 0, 1);
}

.template-sort-up-down {
    width: 60px;
    line-height: 13px;
    text-align: right;
}

.template-sort-up-down .sort-down {
    display: inline-block;
    width: 11px;
    height: 10px;

    vertical-align: bottom;

    background: url("../img/icon-down.svg") center no-repeat;

    opacity: 0.2;
}

.template-sort-up-down .sort-up {
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-left: 16px;

    vertical-align: bottom;

    background: url("../img/icon-up.svg") center no-repeat;

    opacity: 0.2;
}

.template-sort-up-down .sort-down:hover,
.template-sort-up-down .sort-up:hover {
    opacity: 0.4;
}

.template-sort-up-down .sort-down:active,
.template-sort-up-down .sort-up:active,
.sort-down.active,
.sort-up.active {
    opacity: 1;
}

.sort-down.active:hover,
.sort-up.active:hover {
    opacity: 1;
}

.templates {
    margin-left: 140px;
}

.templates-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.template-card {
    position: relative;

    width: 360px;
    margin-bottom: 27px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}

.template-card:hover {
    -webkit-filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.template-card:nth-child(2n + 1) {
    margin-right: 40px;
}

.template-card-browser {
    width: 360px;
    height: 40px;

    background-color: #e9e9e9;
    border-radius: 2px 2px 0 0;
}

.template-card:hover .template-card-browser {
    background-color: #4d4d4d;
}

.template-card:hover .template-card-description {
    display: block;
}

.template-card-browser ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.decorate-circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 13px 0;
    margin-left: 6px;

    background-color: #fff;
    border-radius: 50%;
}

.decorate-circle:first-child {
    margin-left: 16px;
}

.template-card .card-item img {
    width: 360px;
    height: 576px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #e5e5e5;
}

.template-card-description {
    position: absolute;
    top: 385px;
    left: 0px;

    display: none;
    width: 360px;

    background-color: #eeeeee;
}

.card-title {
    margin: 0;
    padding-top: 28px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.card-title a {
    color: #000;
    text-decoration: none;
}

.template-card-description p { 
    display: block;
    max-width: 230px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 28px;

    font-size: 16px;
    line-height: 18px;
    color: #000;
    text-align: center;
    word-wrap: break-word;  
}

.price-button {
    margin-left: 80px;
    margin-bottom: 43px;
    padding: 16px 61px;
}

.pagination-list {
    margin: 0;
    margin-top: 37px;
    padding: 0;

    list-style: none;
}

.pagination-list li {
    display: inline-block;
}

.pagination-item {
    margin-right: 7px;
    padding: 15px 20px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;

    background-color: #eeeeee; 
    border-radius: 2px;
}

.pagination-button {
    margin-right: 0;
    padding: 16px 79px;
}

.pagination-item:hover {
    background-color: #a6a6a6;
}

.pagination-item:active {
    padding-top: 13px;

    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf; 
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:active {
    padding: 13px 18px;
    
    background-color: #fff;
    border: 3px solid #dbdbdb;
}

@-webkit-keyframes modal-animation {
    0% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    70% {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }

    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes modal-animation {
    0% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    70% {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }

    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}